/* Tags */

body {
    margin: 100px 0 0 0;
}

/* end Tags */


/* IDs */

#header {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0px;
    box-shadow: 0 0px 2px 0px #888888;
}

/* end IDs */


/* Specific classes */

.company-logo-sm {
    height: 52px;
    width: auto;
    margin: 12px;
}

/* end Specific classes */


/* Generic classes */

.flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-center{
    align-items: center;
}

/* end Generic classes */